<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.junfly.water.mapper.spider.SpiderProcessMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.junfly.water.entity.spider.SpiderProcess" id="spiderProcessMap">
        <result property="id" column="id"/>
        <result property="imageProcess" column="image_process"/>
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="spiderProcessSelect">
        <![CDATA[
            A.`id`,
            A.`image_process`
        ]]>
    </sql>
    <!-- 用于insert插入公用抽取的列 -->
    <sql id="spiderProcessInsert">
        <![CDATA[
                `id`,
                `image_process`
        ]]>
    </sql>

    <select id="queryObject" resultMap="spiderProcessMap">
        select <include refid="spiderProcessSelect"/> from spider_process A where A.id = #{value}
    </select>

    <select id="queryList" resultMap="spiderProcessMap">
        select <include refid="spiderProcessSelect"/> from spider_process A
        <where>
            <if test="imageProcess != null">
                and A.image_process = #{imageProcess}
            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by A.${sidx} A.${order}
            </when>
            <otherwise>
                order by A.id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="queryTotal" resultType="int">
        select count(*) from spider_process
        <where>
            <if test="imageProcess != null">
                and A.image_process = #{imageProcess}
            </if>
        </where>
    </select>

    <insert id="save" parameterType="com.junfly.water.entity.spider.SpiderProcess" >
        insert into spider_process
        (
        <include refid="spiderProcessInsert"/>
        )
        values
        (
            #{id},
            #{imageProcess}
        )
    </insert>

    <update id="update" parameterType="com.junfly.water.entity.spider.SpiderProcess">
        update spider_process
        <set>
                <if test="imageProcess != null">`image_process` = #{imageProcess}
                </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete">
        delete from spider_process where id = #{value}
    </delete>

    <delete id="deleteBatch">
        delete from spider_process where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
        #{id}
        </foreach>
    </delete>

</mapper>