<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.junfly.water.mapper.spider.SpiderHisMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.junfly.water.entity.spider.SpiderHis" id="spiderHisMap">
        <result property="id" column="id"/>
        <result property="hisTitle" column="his_title"/>
        <result property="imageProcess" column="image_process"/>
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="spiderHisSelect">
        <![CDATA[
            A.`id`,
            A.`his_title`,
            A.`image_process`
        ]]>
    </sql>
    <!-- 用于insert插入公用抽取的列 -->
    <sql id="spiderHisInsert">
        <![CDATA[
                `id`,
                `his_title`,
                `image_process`
        ]]>
    </sql>

    <select id="queryObject" resultMap="spiderHisMap">
        select <include refid="spiderHisSelect"/> from spider_his A where A.id = #{value}
    </select>

    <select id="queryByTitle" resultMap="spiderHisMap">
        select <include refid="spiderHisSelect"/> from spider_his A where A.his_title = #{hisTitle}
    </select>

    <select id="queryList" resultMap="spiderHisMap">
        select <include refid="spiderHisSelect"/> from spider_his A
        <where>
            <if test="imageProcess != null and imageProcess != null">
                image_process = #{imageProcess}
            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by A.${sidx} A.${order}
            </when>
            <otherwise>
                order by A.id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="queryTotal" resultType="int">
        select count(*) from spider_his
        <where>
            <if test="imageProcess != null and imageProcess != null">
                image_process = #{imageProcess}
            </if>
        </where>
    </select>

    <insert id="save" parameterType="com.junfly.water.entity.spider.SpiderHis" >
        insert into spider_his
        (
        <include refid="spiderHisInsert"/>
        )
        values
        (
            #{id},
            #{hisTitle},
            #{imageProcess}
        )
    </insert>

    <update id="update" parameterType="com.junfly.water.entity.spider.SpiderHis">
        update spider_his
        <set>
                <if test="hisTitle != null">`his_title` = #{hisTitle},
                </if>
                <if test="imageProcess != null">`image_process` = #{imageProcess}
                </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete">
        delete from spider_his where id = #{value}
    </delete>

    <delete id="deleteBatch">
        delete from spider_his where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
        #{id}
        </foreach>
    </delete>

</mapper>