<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.junfly.water.mapper.spider.SpiderSourceMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.junfly.water.entity.spider.SpiderSource" id="spiderSourceMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="code" column="code"/>
        <result property="channel" column="channel"/>
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="spiderSourceSelect">
        <![CDATA[
            A.`id`,
            A.`name`,
            A.`code`,
            A.`channel`
        ]]>
    </sql>
    <!-- 用于insert插入公用抽取的列 -->
    <sql id="spiderSourceInsert">
        <![CDATA[
                `name`,
                `code`,
                `channel`
        ]]>
    </sql>

    <select id="queryObject" resultMap="spiderSourceMap">
        select <include refid="spiderSourceSelect"/> from spider_source A where A.id = #{value}
    </select>

    <select id="queryList" resultMap="spiderSourceMap">
        select <include refid="spiderSourceSelect"/> from spider_source A
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by A.${sidx} A.${order}
            </when>
            <otherwise>
                order by A.id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="queryTotal" resultType="int">
        select count(*) from spider_source
    </select>

    <insert id="save" parameterType="com.junfly.water.entity.spider.SpiderSource" 
            useGeneratedKeys="true" keyProperty="id">
        insert into spider_source
        (
        <include refid="spiderSourceInsert"/>
        )
        values
        (
            #{name},
            #{code},
            #{channel}
        )
    </insert>

    <update id="update" parameterType="com.junfly.water.entity.spider.SpiderSource">
        update spider_source
        <set>
                <if test="name != null">`name` = #{name}, 
                </if>
                <if test="code != null">`code` = #{code}, 
                </if>
                <if test="channel != null">`channel` = #{channel}
                </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete">
        delete from spider_source where id = #{value}
    </delete>

    <delete id="deleteBatch">
        delete from spider_source where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
        #{id}
        </foreach>
    </delete>

</mapper>